@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

.title {
  color: #43382f;
  padding-left: 2%;
  padding-top: 2%;
}
p {
  color: #43382f;
}

.subtitle {
  font-size: large;
  color: #43382f;
  padding-left: 2%;
}

.panel {
  display: flex;
  width: 100%;
  background-color: #26190e;
}

.square {
  display: block;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.learn-more {
  color: #000000;
  background-color: #ffffff;
  padding: 4%;
  border: none;
  border-radius: 3px;
  transition: 0.2s;
}

.learn-more:hover {
  background-color: #eec04b;
}

.header {
  color: #ffffff;
  text-align: center;
  padding-bottom: 5%;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.bees {
  display: block;
  float: right;
  width: 40%;
  height: 500px;
  object-fit: cover;
}

.nav-bar {
  display: block;
  background-color: #eec04b;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.navtext {
  float: left;
  padding: 20px;
  color: #8f6219;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;
}

.navtext:hover {
  background-color: #d7a526;
  color: #43382f;
}

* {
  font-family: "Raleway", sans-serif;
}
.body {
  padding: 0%;
  margin: 0%;
}

.about-page {
  text-align: center;
}

#about {
  font-family: "Raleway", sans-serif;

  color: #43382f;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.links {
  display: block;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding-top: 100%;
}

.linktext {
  float: left;
  padding: 20px;
  color: #8f6219;
  text-decoration: none;
}

.linktext:hover {
  color: #43382f;
  cursor: pointer;
  text-decoration: underline;
}

.credits {
  padding: 20px;
  color: #8f6219;
  text-decoration: none;
}

.credits:hover {
  color: #43382f;
  cursor: pointer;
  text-decoration: underline;
}

hr {
  border-color: #43382f;
}

.state {
  fill: #eec04b;
  border-width: 5px;
  border-color: #ffffff;
}

.statepath {
  transition: 0.1s;
}

.statepath:hover {
  fill: #d48c14;
}

.map-box {
  position: absolute;
  visibility: hidden;
  text-align: center;
  border-radius: 3%;
  background-color: #fad473;
  padding: 1%;
  border: none;
  transition: 0.2s;
}
.view-info {
  color: #43382f;
}

#infocontainer {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

#info-title {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

#info-item {
  background-image: linear-gradient(#ffcc4b, #ffb700);
  padding: 2rem;
  width: 15rem;
  border-radius: 10px;
}

.info-image {
  max-width: 100px;
}

.container {
  background-image: linear-gradient( #ffe093, #ffd772);
  width: 75%;
  padding: 3rem;
  margin: 2rem auto;
  align-items: center;
  /*background-color: #ffe093;*/
  border-radius: 10px;
}

hr {
  width: 50%;
  border-color: #ffcc4b;
}

h2 { 
  font-weight: 100;

  color: #43382f;
}